.facilities-container {
  display: flex;
  flex-flow: row wrap;
  /*justify-content: space-around;*/
}

.facility {
  border: 1px solid ghostwhite;
  border-radius: 0.25em;
  background-color: ghostwhite;
  color: black;
  margin: 0.5em;
  max-width: 10em;
  padding: 1em;
}

.facility:hover {
  cursor: pointer;
}

.facility div#facilityName {
  font-weight: bolder;
  text-align: center;
}